.question {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.date_1colonne label, .text_1colonne label, .textarea_1colonne label {
  width: 25%;
  text-align: right;
  padding-right: 10px;
}

.date_1colonne input, .text_1colonne input, .textarea_1colonne textarea {
  width: 75%; 
}

.deroulant_1colonne select {
  width: 75%;
  height: 25px;
  padding: 0 10px;
}

.question.deroulant_1colonne {
  align-items: center;
}

.textarea_1colonne textarea {
  height: 100px;
}

