.question {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  clear: both;
}

.date_1colonne label, .text_1colonne label, .num_1colonne label, .textarea_1colonne label, .num_deroulant_2colonnes label, .deroulant_1colonne label {
  width: 25%;
  max-width: 25%;
  text-align: right;
  padding-right: 10px;
}

.date_1colonne input, .text_1colonne input, .num_1colonne input, .textarea_1colonne textarea {
  height: max-content;
  min-width: 75%; 
}

.deroulant_1colonne select {
  width: 75%;
  height: 25px;
  padding: 0 10px;
}

#container-type-crime .question.deroulant_1colonne {
  align-items: center;
}

.textarea_1colonne textarea {
  height: 100px;
}

.num_deroulant_2colonnes .valeurs {
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.num_deroulant_2colonnes input {
  width: inherit;
}

.num_deroulant_2colonnes select {
  width: 20%;
  min-width: 95px;
  padding-left: 10px;
}

.num_plusieurs_colonnes, .text_2colonnes {
  display: inline-block;
  float: right;
  clear: initial;
  width: calc(75% / 2);
}

.num_plusieurs_colonnes input, .text_2colonnes input {
  width: 100%;
}

.cases_et_texte {
  justify-content: left;
  flex-direction: column;
}

.plus {
  float: right;
}

.container-instance {
  margin: 25px 0;
}

.container-instance:not(:first-of-type) {
  border-top: 2px solid black;
}
