<div class="question date_1colonne">
  <label for="<%= question.id + (multiples ? "-1" : "") %>"><%= question.nom %></label>
  <input id="<%= question.id + (multiples ? "-1" : "") %>" name="<%= question.id + (multiples ? "-1" : "") %>" type="date">
</div>
