<div id="<%= section.id %>" class="c-tab">
  <div class="c-tab__content">
    <div class="entete-tab">
      <h2> <%= section.nom %> </h2>
      <% if (section.multiples) { %>
        <div class="liste-tab">

        </div>
        <div class="plus">
          <i class="fas fa-plus"></i>
        </div>
      <% } %>
    </div>
    <div class="container-instance">
      <p><%= section.description %></p>
      <% section.questions.forEach((question) => { %>
          <%- include(process.env.PWD + '/views/partials/' + question.affichage + '.ejs', { question: question, multiples: section.multiples }) %>
      <% }) %>
    </div>
  </div>
</div>

